*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card{
    margin: 80px auto;
    border: none;
    width: 75%;
}

.card-co{
    height: 300px;
}

.row{
    gap: 20px;
}

.card-1{
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-1:hover img {
	transform: scale(1.06);
}

img{
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.text{
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translate(0 , -50%);
    text-align: left;
}

.btn{
    padding: 0;
    position: relative;
}

.btn:hover{
    color: #FF324D;
}

.btn::before{
    content: '';
    background-color: rgba(255,50,77,0.2);
    position: absolute;
    bottom: 3px;
    height: 7px;
    width: 100%;
    z-index: -1;
}