@media(max-width:890px){
    h3{
        font-size: 1.3rem;
    }

    .p{
        font-size: 1.1rem;
    }

    .text{
        right: 25px;
    }
}

@media(max-width:753px){
    h3{
        font-size: 1.1rem;
    }

    .p{
        font-size: 0.9rem;
    }

    .text{
        right: 12px;
    }
}


@media(max-width:500px){
    .card {
        margin: 10px auto;
        width: 90% !important;
    }
    .card-co {
        height: 185px;
    }
    .card-picture{
        flex-direction: column;
        width: 75%;
        margin: auto;
        height: 50vh;
    }
}

@media(max-width:415px){
    h3 {
        font-size: 1.1rem;
    }
    .card-co {
        height: 210px;
    }
    p {
        font-size: 0.6rem;
    }
}