@media(max-width:1215px){
    .one{
        height: 70vh;
    }
    .one-co{
        width: 90%;
    }
}

@media(max-width:965px){
    
    .one img {
        height: 28vh;
    }
}

@media(max-width:900px){
    .one{
        height: 80vh;
    }
    .one img {
        height: 28vh;
    }
}

@media(max-width:810px){
    .one-co{
        width: 95%;
    }
    .one img {
        height: 24vh;
    }
}

@media(max-width:786px){
    .information .descrption {
        font-size: 12px;
    }

    .information .add{
        height: 35px;
    }

    .information h3 {
        font-size: 20px;
    }

    .information p {
        font-size: 18px;
    }

    
    .information span {
        font-size: 17px;
    }

    .one img{
        height: 35vh;
    }
}


@media(max-width:700px){
    .one img{
        height: 30vh;
    }
}

@media(max-width:645px){
    .one img{
        height: 25vh;
    }
}


@media(max-width:610px){
    .one-co{
        flex-direction: column;
    }
    .one {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 130vh;
    }
    .one img {
        width: auto;
        height: 40vh;
    }
}


@media(max-width:500px){
    .one img {
        height: 35vh;
    }
}

@media(max-width:450px){
    .one img {
        height: 30vh;
    }
}